# Virtual Environment
venv/
env/

# Environment variables / API keys
.env

# Python cache
__pycache__/
*.py[cod]

# Django
*.sqlite3

# ChromaDB
chroma_db/
chromadb/

# Uploaded media files
media/

# Node modules
frontend/node_modules/

# Build files
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

backendpart/backend/staticfiles/